.container {
    margin: 0 auto;
    width: 80%;
}

body {
    font-family: verdana, Helvetica, sans-serif;
}

p {
    line-height: 1.3em;
}

nav, footer {
    background-color: #8C8C8C;
    color: #fff;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

nav a, footer a {
    color: #fff;
    flex: 1;
}
@media only screen and (min-width: 768px) {
    nav { flex-direction: row; }    
}